MEDIAMTX_HOST=MEDIAMTX_PUBLIC_IP
RTSP_PORT=8554
YOUTUBE_URL=rtmp://a.rtmp.youtube.com/live2

FFMPEG1_HOST=FFMPEG_SERVER_1
FFMPEG1_TABLE=1
FFMPEG1_KEY=YOUTUBE_KEY_TABLE_1
FFMPEG1_VIDEO_DELAY=0.0

FFMPEG2_HOST=FFMPEG_SERVER_2
FFMPEG2_TABLE=2
FFMPEG2_KEY=YOUTUBE_KEY_TABLE_2
FFMPEG2_VIDEO_DELAY=0.0
